@model MC.ContactLessDining.Models.MenuCard

@{
    ViewBag.Title = Model.Name + " - Meat Compiler";
}

<div class="container">
    @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.IsSteak)
        @Html.Hidden("Discount", 0)
        @Html.Hidden("ItemPrice", (Model.Price * (decimal)1000))
        <div class="row">
            <div class="row-md-12">
                <img class="img-thumbnail" src="@Model.ImageUrl-Thumb.png" style="width:100%; margin-top: 20px;" data-menuname="@Model.Name" data-image="@(Model.ImageUrl + ".png")" />
            </div>
        </div>
        <div class="row">
            <div class="row-md-12">
                <h2>@Model.Name</h2>

                <p>
                    @Model.MenuDescription
                </p>

                <h3><b>@string.Format("{0:n0}", (Model.Price * (decimal)1000))</b></h3><br />
            </div>
        </div>
        if (Model.IsSteak)
        {
            <div class="row">
                <div class="row-md-12">
                    <label for="selectDoneness">Pilih tingkat kematangan</label>
                    <select class="form-control" id="Doneness">
                        <option value="RARE">RARE</option>
                        <option value="MEDIUM RARE">MEDIUM RARE</option>
                        <option value="MEDIUM" selected="selected">MEDIUM</option>
                        <option value="MEDIUM WELL">MEDIUM WELL</option>
                        <option value="WELL DONE">WELL DONE</option>
                    </select>
                </div>
                <div class="row-md-12">
                    <label for="selectPotato">Pilih kentang</label>
                    <select class="form-control" id="Potato">
                        <option value="Mashed Potato">Mashed Potato</option>
                        <option value="Potato Wedges">Potato Wedges</option>
                    </select>
                </div>
                <div class="row-md-12">
                    <label for="selectSauce">Pilih saus</label>
                    <select class="form-control" id="Sauce">
                        <option value="Creamy Mushroom">Creamy Mushroom</option>
                        <option value="Beef Demi-Glace">Beef Demi-Glace</option>
                        <option value="Black Pepper">Black Pepper</option>
                        <option value="Cheese Sauce">Cheese Sauce</option>
                        <option value="Honey Mustard">Honey Mustard</option>
                    </select>
                </div>
            </div>
        }
        <div class="row">
            <div class="row-md-12">
                <label for="inputQuantity">Jumlah</label>
                <select class="form-control" id="Quantity" style="width: 75px !important;">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                </select>
            </div>
            <div class="row-md-12">
                <br />
                <input type="submit" class="btn btn-primary" id="btnAddToCart" value="Add to Cart" />
            </div>
        </div>    
    }
</div>
